.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    background-color: greenyellow;
}
.messageAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.time {
    display: flex;
    justify-content: flex-end;
    color: #aaa;
}
.messageWindow {
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}
/*.messageWindow::before{*/
/*    display: block;*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: -14px;*/
/*    bottom: 0;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    background: black;*/
/*    background: radial-gradient(30px at top left,transparent 49%, #222f40 51%) no-repeat right bottom;*/
/*}*/
.messageName {
    color: cornflowerblue;
}
.messageMessage {
 min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: white;
}
